* {
    padding: 0;
    margin: 0;
}

div {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-light {
    background-color: white;
}
.button-light {
    height: 40px;
    width: auto;
    padding: 0 20px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body-dark {
    background-color: black;
}
.button-dark {
    height: 40px;
    width: auto;
    padding: 0 20px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}